*{margin: 0px;
padding: 0px;}

.container-fluid{
    width:100%;
    height:200vh;
    background-image: url(https://i.redd.it/ofdlip89ixh51.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll ;
}

#title{
    font-size: 60px;
    text-shadow: 20px;
    color: rgba(240, 255, 255, 0.916);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top:2vh ;

}

#main-card{
    width: 100%;
    height: auto;
    background-color: rgba(240, 255, 255, 0.16);
    border:1px rgba(255, 252, 252, 0.221) solid ;
    box-shadow:30px ;
    border-radius:30px ;
    margin-top: 10vh;
}
#two-card{
    
    height:auto ;
    padding:30px ;
   
}

#form{
    border-radius:40px ;
    padding: 35px ;
    height: 100%;

    
}
.round{
    border-radius:30px ;
    padding:15px ;
    box-shadow:20px ;
    margin-left:10px ;
}
#result-1{
    height: auto;
    width:100% ;
    background-image: linear-gradient(to right,rgba(203, 87, 203, 0.537) , rgba(243, 120, 141, 0.578));
    margin:10px ;
    border-radius:30px ;
    display: flex;
    align-items: center;
    justify-content: space-center;
    text-align: center;
    padding-top:60px ;
    
}

.box{
    width:50% ;
    height: auto;
    background-image: linear-gradient(to right,rgba(203, 87, 203, 0.537) , rgba(243, 120, 141, 0.578));
    margin:10px ;
    border-radius:30px ;
    display: flex;
    align-items: center;
    display: flex;
    padding-top:20px ;
    padding-bottom:20px ;

}
.big{
    padding-left: 20px;
}